<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430987198672-kr3doppff7dah8hq5n9ropn0e1qnko68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430987198672-kr3doppff7dah8hq5n9ropn0e1qnko68</string>
	<key>API_KEY</key>
	<string>AIzaSyATHlXdyTpI3tIYQVJaGiymQN3W_sQNV-A</string>
	<key>GCM_SENDER_ID</key>
	<string>430987198672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalDiagnosisSystem</string>
	<key>PROJECT_ID</key>
	<string>chat-app-219b0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-219b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430987198672:ios:8150d2945a0c8298515ed5</string>
</dict>
</plist>